<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous">
    </script>
</head>
<body>
{% block body %}
    <h1>You have successfully registered!</h1>
    <h2>Yor DataId:</h2>
{{ feedbackDataId }}
    <h2>
        <a  href="/" id="ok">
            OK
        </a>
    </h2>
    <script>
        $('#ok').click(function () {
            sessionStorage.clear();
        });
    </script>
{% endblock %}
</body>
</html>
